.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    /* height: 100vh; */
    width:90vw;
    margin:0 auto;
   
  }

  .item:nth-child(3){
    grid-row:span 2;
    grid-column: span 2;
  }
  .item:nth-child(4){
    grid-row:span 2;
    grid-column: span 2;
  }
  
  img{
    /* object-fit:fill; */
    width: 100%;
    height: 100%;
  }
  
  .item {
    
    overflow: hidden;
    
  }

  .ex-container{
    margin-top: 5rem;
  }
  h1{
    margin-left: 1rem;
  }
  #input{
    margin:1rem;
    padding:1rem;
    width:90%;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .exercise-wrapper {
    
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    margin-left: 30px;
    
    /* border: 1px solid #ccc; */
    /* border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Add shadow for a raised effect */
  }
  
  .exercise-wrapper img {
    /* max-width: 100%; Ensure the image doesn't exceed its container */
width:400px;
height:400px;
  }
  
  .exercise-wrapper p {
    margin: 5px 0;
    text-align: center;
  }

  .ex-card{
    border:1px solid gray;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    /* margin-left: 10px; */
  }
  
  #ex-name{
    font-weight: 700;
  }

  #ex-name::first-letter{
    text-transform: uppercase;
  }

 @media (max-width: 320px) {
*{
  font-size: 1rem;
}

.exercise-wrapper img {
 max-width: 100%; 
 width:200px;
height:200px;
}
} 